# Default ignored files
/../../Personal Portfolio /.idea/shelf/
/../../Personal Portfolio /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Personal Portfolio /.idea/httpRequests/
# Datasource local storage ignored files
/../../Personal Portfolio /.idea/dataSources/
/../../Personal Portfolio /.idea/dataSources.local.xml
